{% extends "base.html" %}

{% block header%}
<title>用户列表</title>
{% endblock %}

{% block content %}
{% with model_name='Admin' url_prefix='/system/admin/admin_' %}
<div >
	<ul id="nav-list" class="nav nav-tabs" >
			  <li class="active"  >
			  	<a href="{{url_prefix}}list" data-toggle="tab">用户列表</a>
			  </li>
			  <li >
			  	<a href="/system/role/role_list">角色列表</a>
			  </li>
	</ul>
	<!-- 按钮工具条 -->
	<div id='datatable_toolbar'>
		<div class="btn-toolbar pull-right">
			<div class="btn-group ">
				<a class="btn btn btn-success " onclick="add{{model_name}}(this)">
					<i class="fa fa-plus-square"></i>添加
				</a>
			</div>
			<div class="btn-group">
				
				<a class="btn btn btn-primary " onclick="edit{{model_name}}(this)">
					<i class="fa fa-edit"></i>编辑
				</a>
				<a data-toggle="dropdown" class="btn  btn-primary dropdown-toggle">
					<span class="menu-arrow arrow_carrot-down"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a  class="" onclick="remove{{model_name}}(this)">
							<i class="fa fa-trash-o"></i> 删除
						</a>
						<a  class="" onclick="recover{{model_name}}(this)">
							<i class="fa fa-share-alt "></i> 恢复
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--  -->
	<table  class="table table-striped table-advance table-hover table-bordered datatable" data-toolbar='datatable_toolbar' data-group-by-index='[5]'>
		<thead>
		<tr>
			<th width="60">
				<input type="checkbox" checkbox-area='{{model_name}}_area'  >
			</th>
			<th >ID</th>
			<th>别名</th>
			<th>登录名</th>
			<th>拥有角色</th>
			<th>状态</th>
			<th>登录次数</th>
			<th>登录IP</th>
			<th>最近时间</th>
		</tr>
		</thead>
		<tbody id="{{model_name}}_area">
		{%for item in list_record%}
		<tr trid='{{item.id}}'>
			<td>
				<input type="checkbox"  value="{{item.id}}" name="id">
			</td>
			<td>{{item.id}}</td>
			<td><a href="{{url_prefix}}edit?id={{item.id}}" class="openDialog">{{item.alias}}</a></td>
			<td>{{item.username}}</td>
			<td>
				{% with  item.role.all as roles %}
					{%if roles%}
						{% for r in roles%}
							<a href="/system/role/role_edit?id={{r.id}}" class="openDialog">{{r.name}}{%if not forloop.last %}</a>,{%endif%}
						{% endfor%}
					{%else%}
						没有角色
					{%endif%}
				
				{%endwith%}
			</td>
			<td>{{item.get_status_display}}</td>
			<td>{{item.login_count}}</td>
			<td>{{item.last_ip}}</td>
			<td>{{item.last_time|date:"Y-m-d H:i:s"}}</td>
		</tr>
		{%endfor%}
		</tbody>
	</table>
</div>
{%endwith%}
{% endblock %}